qdb/
db/
incremental_db/
greybox_tmp/
tmp-clearbox/
output_files/*
!output_files/Lockin_test.sof
!output_files/output_file.cof
greybox_tmp/
reconfig_mif/
*.bak
.qsys_edit/
*.qws
*.srf
!ci_support/*.srf
desktop.ini
ddr3_altera_emif_arch_nf_191_vlww5eq_summary.csv
ddr3_altera_emif_arch_nf_191_uc4qygi_summary.csv
